<div #editorInner class="editor" contenteditable="true">
  <p data-v-54a96eec="">
    <strong>Akebia Therapeutics</strong> (NASDAQ: AKBA) Q4 2018 Earnings
    Conference CallMarch 18, 2019<em> 4:30 p.m. ET</em>
  </p>
  <h2 data-v-54a96eec="">Contents:</h2>
  <ul data-v-54a96eec="">
    <li>Prepared Remarks</li>
    <li>Questions and Answers</li>
    <li>Call Participants</li>
  </ul>
  <h2 data-v-54a96eec="">Prepared Remarks:</h2>
  <p data-v-54a96eec=""><strong>Operator</strong></p>
  <p data-v-54a96eec="">
    Good day, ladies and gentlemen, and welcome to the Akebia Therapeutics
    preliminary full-year 2018 financial results and business highlights
    conference call. As a reminder, this conference call is being recorded.
    [Operator instructions] I would now like to introduce your host for today's
    conference. Megan, the floor is yours.
  </p>
  <p data-v-54a96eec=""><strong>Unidentified speaker</strong></p>
  <p data-v-54a96eec="">
    Thank you, operator. Good afternoon and thank you for joining us to discuss
    our recent business progress and Akebia's preliminary full-year 2018
    financial results and business highlights conference call. The press release
    containing the company's preliminary financial results for the fourth
    quarter and full-year 2018 was issued earlier this afternoon and is also
    available on our Investor Relations website. For your convenience, an audio
    replay of today's call will also be available on our website shortly after
    we conclude today's webcast.
  </p>
  <p data-v-54a96eec="">
    Joining our call are John Butler, president and chief executive officer; and
    Jason Amello, chief financial officer. Rita Jain, chief medical officer;
    Michel Dahan, chief business officer; and Doug Jermasek, VP of marketing and
    strategy, will also be joining for the Q&amp;A session. Before we begin, I'd
    like to remind everyone that this conference call includes forward-looking
    statements. Each forward-looking statement contained in this call is subject
    to risks and uncertainties that could cause actual results to differ
    materially from those described in these statements.
  </p>
  <p data-v-54a96eec="">
    <strong>10 stocks we like better than Akebia Therapeutics</strong>When
    investing geniuses David and Tom Gardner have a stock tip, it can pay to
    listen. After all, the newsletter they have run for over a decade,
    <em>Motley Fool Stock Advisor</em>, has quadrupled the market.*
  </p>
  <p data-v-54a96eec="">
    David and Tom just revealed what they believe are the
    <a
      href="https://infotron.fool.com/infotrack/click?url=https%3A%2F%2Fwww.fool.com%2Fmms%2Fmark%2Fe-foolcom-sa-bbn-dyn%3Faid%3D8867%26source%3Disaeditxt0010449%26ftm_cam%3Dsa-bbn-evergreen%26ftm_pit%3D6312%26ftm_veh%3Dbbn_article_pitch%26company%3DAkebia%2520Therapeutics&amp;impression=855dc985-f987-4547-b901-dc3a925bb8f6&amp;utm_campaign=article&amp;utm_medium=feed&amp;referring_guid=697ed12b-f175-4f53-84ba-7d15340ce2d3&amp;utm_source=foxbusiness"
      target="_blank"
      rel="nofollow"
      data-aesra-score="linkNewWindowWarning:1;"
      >ten best stocks<span
        data-ae-pem-ignore="true"
        style="display: none;"
        class="ae-compliance-indent ae-new-window"
      >
        Opens a New Window.
      </span></a
    >
    for investors to buy right now... and Akebia Therapeutics wasn't one of
    them! That's right -- they think these 10 stocks are even better buys.
  </p>
  <p data-v-54a96eec="">
    <a
      class="ticker_pitch"
      href="https://infotron.fool.com/infotrack/click?url=https%3A%2F%2Fwww.fool.com%2Fmms%2Fmark%2Fe-foolcom-sa-bbn-dyn%3Faid%3D8867%26source%3Disaeditxt0010449%26ftm_cam%3Dsa-bbn-evergreen%26ftm_pit%3D6312%26ftm_veh%3Dbbn_article_pitch%26company%3DAkebia%2520Therapeutics&amp;impression=855dc985-f987-4547-b901-dc3a925bb8f6&amp;utm_campaign=article&amp;utm_medium=feed&amp;referring_guid=697ed12b-f175-4f53-84ba-7d15340ce2d3&amp;utm_source=foxbusiness"
      target="_blank"
      rel="nofollow"
      data-aesra-score="linkNewWindowWarning:1;"
      >See the 10 stocks<span
        data-ae-pem-ignore="true"
        style="display: none;"
        class="ae-compliance-indent ae-new-window"
      >
        Opens a New Window.
      </span></a
    >
  </p>
  <p data-v-54a96eec=""><em>*Stock Advisor returns as of March 1, 2019</em></p>
  <p data-v-54a96eec="">
    Additional information regarding these factors are described in the Risk
    Factors and management's Discussion and Analysis sections of our most
    recently quarterly and annual financial reports. The forward-looking
    statements on this call speaks only as of the original date of this call,
    and we do not undertake any obligation to update or revise any of these
    statements. With that, I'd like to turn the call over to our CEO, John
    Butler. John?
  </p>
  <p data-v-54a96eec="">
    <strong>John Butler</strong> --
    <em>President and Chief Executive Officer</em>
  </p>
  <p data-v-54a96eec="">
    Thanks, Megan. Good afternoon, everyone, and thank you for joining us. 2018
    was a transformative year for Akebia. Throughout the year, we executed
    against multiple strategic initiatives, including the creation of a fully
    integrated biopharma company for a successful merger with Keryx.
  </p>
  <p data-v-54a96eec="">
    We now have capabilities from research, commercialization, and a portfolio
    of complementary assets. Through the merger, we gained access to Auryxia, a
    commercial product proved for two indications to treat patients with kidney
    disease. In addition, we continued to advance our global Phase 3 program for
    vadadustat. 2019 is beginning with the same sort of momentum with the
    announcement of the positive results from the Phase 3 clinical program for
    vadadustat in Japan conducted by our collaboration partner, Mitsubishi
    Tanabe or MTPC.
  </p>
  <p data-v-54a96eec="">(...)</p>
  <p data-v-54a96eec="">
    And with that, we'll open the line for questions. George?
  </p>
  <h2 data-v-54a96eec="">Questions and Answers:</h2>
  <p data-v-54a96eec=""><strong>Operator</strong></p>
  <p data-v-54a96eec="">
    Thank you. [Operator instructions] Our first question comes from the line of
    Chris Raymond with Piper Jaffray. Your line is open.
  </p>
  <p data-v-54a96eec="">
    <strong>Chris Raymond</strong> -- <em>Piper Jaffray -- Analyst</em>
  </p>
  <p data-v-54a96eec="">
    Hey. Thanks for taking the question. I just wanted to maybe understand
    Auryxia a little bit better. So just backing to the Q4 number, it looks like
    revenue was about $24.7 million.
  </p>
  <p data-v-54a96eec="">
    And I think that's down about 7% quarter-on-quarter but I think I heard you
    state that at year end, it exited with 6.6% market share. But I think Keryx
    said at the end of the third quarter of '18, it was 6.4%. So can you maybe
    sort of square those two trends? Am I not getting a full picture with some
    of those numbers or what's happening?
  </p>
  <p data-v-54a96eec="">
    <strong>John Butler</strong> --
    <em>President and Chief Executive Officer</em>
  </p>
  <p data-v-54a96eec="">
    No. You're right on target, Chris. So if you recall, in the fourth quarter,
    actually, starting in September of last year, DaVita Rx, the specialty
    pharmacy arm of DaVita stopped shipping. And when you looked at fourth
    quarter of last year, the entire phosphate binder market decreased by
    roughly 10%.
  </p>
  <p data-v-54a96eec="">(...)</p>
  <h2 data-v-54a96eec="">Call Participants:</h2>
  <p data-v-54a96eec="">
    <strong
      >John Butler -- <em>President and Chief Executive Officer</em></strong
    >
  </p>
  <p data-v-54a96eec="">
    <strong>Jason Amello -- <em>Chief Financial Officer</em></strong>
  </p>
  <p data-v-54a96eec="">
    <strong>Chris Raymond -- <em>Piper Jaffray -- Analyst</em></strong>
  </p>
  <p data-v-54a96eec="">
    <strong>Kennen MacKay -- <em>RBC Capital Markets -- Analyst</em></strong>
  </p>
  <p data-v-54a96eec="">
    <strong>Rita Jain -- <em>Chief Medical Officer</em></strong>
  </p>
  <p data-v-54a96eec="">
    <strong>Difei Yang -- <em>Mizuho Securities -- Analyst</em></strong>
  </p>
  <p data-v-54a96eec="">
    <strong>Reni Benjamin -- <em>Raymond James -- Analyst</em></strong>
  </p>
  <p data-v-54a96eec="">
    <strong
      >Doug Jermasek --
      <em>Vice President of Marketing and Strategy</em></strong
    >
  </p>
  <p data-v-54a96eec="">
    <strong>Bert Hazlett -- <em>BTIG -- Analyst</em></strong>
  </p>
  <p data-v-54a96eec="">
    <strong>Michel Dahan -- <em>Chief Business Officer</em></strong>
  </p>
  <p data-v-54a96eec="">
    <strong>Chad Messer -- <em>Needham and Company -- Analyst</em></strong>
  </p>
  <p data-v-54a96eec="">
    <strong>Ed Arce -- <em>H.C. Wainwright and Company</em></strong>
  </p>
</div>

<div #ftcContainer></div>