@import "~@angular/material/theming";
@import "./modules/colors";

@import "~font-awesome/css/font-awesome.css";

@include mat-core();

$my-app-primary: mat-palette($mat-blue-grey);
$my-app-accent:  mat-palette($mat-pink, 500, 900, A100);
$my-app-warn:    mat-palette($mat-deep-orange);

$my-app-theme: mat-light-theme($my-app-primary, $my-app-accent, $my-app-warn);

@include angular-material-theme($my-app-theme);

@import "~typeface-roboto/index.css";

body {
    font-family: 'Roboto';
}