.document-container {
  max-width: 300px;
  
  $cardHeight: 300px;
  margin: 10px;

  display: grid;

  $headerHeight: 50px;

  mat-card-header {
    grid-row: 1;
    height: $headerHeight;
    overflow: hidden;
  }

  mat-card-content {
    grid-row: 2;
    div.body {

        .segments-container {
          height: $cardHeight - $headerHeight - 16px;
          .segment p {
              height: 1em;
              width: 100%;
              padding: 0;
              line-height: 1em;
              overflow: hidden;
              text-overflow: ellipsis;
          }
        }
    }
  }

  mat-card-actions {
    grid-row: 3;
    align-self: end;
    justify-self: center;
  }

}