<footer>
    <div class="inner">
        <div class="col">
            <h3>DocTT</h3>
            <p>Open Source project by Cristian Spozio and Denys Vitali</p>
        </div>

        <div class="col">
            <h3>Get In Touch</h3>
            <p><a href="https://github.com/doctt/">DocTT on GitHub</a></p>
        </div>

        <div class="col">
            <h3>Some Title</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus ut fringilla neque. Nulla facilisi. Curabitur vitae
            convallis dolor. Vivamus tortor magna, euismod id vehicula sed, dignissim eu orci. Morbi et enim tortor. Aliquam libero
            nulla, blandit non interdum ac, fermentum fermentum urna. Aliquam luctus viverra pretium. Fusce eu pretium mauris.
            </p>
        </div>
    </div>
</footer>